body {
  background-image: url("../images/bg.jpg");

  width: 100vw;
  min-height: 100vh;
  /* border: solid purple 2px; */
}
main {
  /* border: solid 2px blue; */
}
header {
  /* border: solid 2px green; */
  height: 100%;
}
nav {
  width: 100%;
  /* border: solid 2px pink; */
}
.navbar-button {
  background-color: rgb(165, 54, 52);
  height: 2.5em;
  font-size: 12px;
  width: 16em;
  position: relative;
  color: white;
  text-align: center;
}
.news-container {
  /* border: solid 6px orange; */
}

#sk8er-1 {
  border: solid white 4px;
  font: 16px bold white;
  font-size: 2em;
  color: white;
  font-weight: 300;
}
#sk8er-2 {
  border: solid white 4px;
  font-size: 2em;
  color: white;
  font-weight: 300;
}
#sk8er-3 {
  border: solid white 4px;
  font-size: 2em;
  color: white;
  font-weight: 300;
}
#sk8er-4 {
  border: solid white 4px;
  font-size: 2em;
  color: white;
  font-weight: 300;
}
.top-image {
  display: flex;
  position: relative;
  width: 1000px;
  height: 330px;
  object-fit: cover;
  border: solid white 8px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.logo-image {
  position: absolute;
  z-index: 3;
}
.grid-image {
  width: 100%;
  height: 100%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}
.top-container {
  display: flex;
  /* border: solid red 2px; */
}
h3 {
  font-size: 12px;
}
p {
  font-size: 10px;
}

.skateboard {
  transform: rotate(90deg) scale(3);
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 0%;
  background-color: whitesmoke;
}
.social-icon {
  display: flex;
  float: right;
}
.skateboards {
  background-color: whitesmoke;
  max-height: 10%;
}
